*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  min-height: 100svh;
  max-height: 100svh;
  display: flex;
  flex-direction: column;
  background-image: url("../assets/images/malaysia-bg.jpg");
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-block-end: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.1);
}
.nav__logo {
  cursor: pointer;
}
.nav__list {
  display: flex;
  list-style: none;
}
.nav__item {
  margin-right: 2rem;
}
.nav__item:last-child {
  margin-right: 0;
}
.nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__search-box {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
.nav__search-box--hidden {
  visibility: hidden;
}
.nav__search-input {
  border: none;
  outline: none;
  padding: 0.5rem 0.25rem;
  width: 238px;
  border-radius: 50px;
  margin-inline-end: 0.5rem;
  background-color: transparent;
  color: white;
}
.nav__search-input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.nav__search-input:focus::placeholder {
  color: transparent;
}
.nav__search-button {
  color: #fff;
  background-color: #FF9500;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  padding: 0.25rem 0.5rem;
  margin-inline-end: 0.5rem;
}
.nav__search-button:hover {
  background-color: #ffa72d;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.recommendations {
  order: 3;
  margin: 25px 50px;
  margin-left: auto;
}
.recommendations .recommendations__time {
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
  margin-block-end: 15px;
  padding: 0.25rem 1rem;
  border-radius: 5px;
}
.recommendations .recommendations__list {
  max-height: calc(100svh - 180px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
.recommendations .recommendations__list::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}
.recommendations .recommendations__list::-webkit-scrollbar-track {
  background: transparent;
}
.recommendations .recommendations__list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
  border-radius: 2px; /* Rounded corners for the scrollbar thumb */
}
.recommendations .recommendations__item {
  background-color: white;
  border-radius: 5px;
  margin-block-end: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
}
.recommendations .recommendations__image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.recommendations .recommendations__text {
  padding: 1rem;
}
.recommendations .recommendations__title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 0.5rem;
}
.recommendations .recommendations__description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}
.recommendations .recommendations__button {
  background-color: #FF9500;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.recommendations .recommendations__button:hover {
  background-color: #ffa72d;
}

.home {
  order: 2;
  margin: 0 50px;
}
.home__title {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  max-inline-size: 10ch;
  line-height: 1.2;
  margin-block-end: 2rem;
}
.home__paragraph {
  font-size: 1rem;
  color: #fff;
  max-inline-size: 44ch;
  margin-block-end: 2rem;
}
.home button {
  background-color: #FF9500;
  color: white;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  cursor: pointer;
}
.home button:hover {
  background-color: #ffa72d;
}

.socials {
  order: 1;
  padding: 1rem;
}
.socials__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.socials__list::before {
  content: "";
  display: block;
  width: 2px;
  height: 240px;
  background-color: rgba(255, 255, 255, 0.2);
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}
.socials__link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.socials__link svg {
  fill: white;
  width: 2rem;
  height: 2rem;
}

.about {
  flex: 1;
  padding: 2rem;
}
.about__title {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}
.about__paragraph {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2rem;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 5px;
}
.about__team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.about__team p {
  color: #fff;
}
.about__team-list {
  display: flex;
  gap: 1rem;
}
.about__team-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
  max-inline-size: 4ch;
  line-height: 1.2;
}
.about__team-member {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 5px;
}
.about__team-responsible {
  color: rgb(189, 189, 189) !important;
  margin-block-end: 0.5rem;
}
.about__team-work {
  background-color: #FF9500;
  text-align: center;
}

.contact__title {
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  max-inline-size: 10ch;
  line-height: 1.2;
  margin-block-end: 2rem;
}
.contact__paragraph {
  font-size: 1rem;
  color: #fff;
  max-inline-size: 44ch;
  margin-block-end: 2rem;
}

.form {
  flex: 1;
  margin: 2rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form label {
  color: #fff;
  margin-bottom: 0.5rem;
}
.form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
}
.form input::placeholder {
  color: #ccc;
}
.form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
  resize: vertical;
}
.form textarea::placeholder {
  color: #ccc;
}
.form button[type=submit] {
  background-color: #FF9500;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form button[type=submit]:hover {
  background-color: #ffa72d;
}

@media screen and (max-width: 992px) {
  main {
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }
  main::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
  }
  main::-webkit-scrollbar-track {
    background: transparent;
  }
  main::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 2px; /* Rounded corners for the scrollbar thumb */
  }
  .recommendations {
    order: 2;
    margin-left: unset;
    margin-inline-end: unset;
  }
  .recommendations__list {
    overflow-y: unset !important;
    max-height: unset !important;
  }
  .home {
    order: 1;
    justify-self: unset;
    text-align: center;
  }
  .socials {
    order: 3;
  }
  .socials__list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .socials__list::before {
    display: none; /* Hide the vertical line on smaller screens */
  }
}/*# sourceMappingURL=styles.css.map */