// Import font from Google Fonts
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400, 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v11/QGYvz_MVcBeNP4NJuktqQ4E.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

// Colors
$light-grey: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

// Font
$font-primary: "Outfit", sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-grey;
    font-family: $font-primary;
    display: flex;
    min-height: 100svh;
    margin: 0;
}

img {
    width: 100%;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-card {
    background-color: white;
    width: 320px;
    height: 497px;
    padding: 16px;
    border-radius: 20px;

    #qr-code {
        margin-bottom: 24px;
        border-radius: 10px;
    }

    .text-item {
        text-align: center;
        padding: 0 16px;

        h2 {
            color: $dark-blue;
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 16px;
        }

        p {
            color: $grayish-blue;
            font-size: 15px;
            font-weight: 400;
        }
    }
}