@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: unset;
}

.header {
    margin: 20px 24px;
}

.title {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 25.18px;
    letter-spacing: -2.2px;
    text-transform: uppercase;
    color: #333333;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 24px;
}

.main-img {
    width: 286.83px;
    height: 238px;
}

.main-dev-text {
    margin-top: 60px;
    font-family: 'Space Mono', monospace;
}

.badnews-h {
    font-weight: 700;
    font-size: 48px;
    line-height: 71.09px;
    letter-spacing: -1px;
    color: #333333;
}

.badnews-p {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26.66px;
    letter-spacing: -1px;
    color: #4F4F4F;
}

.backhome {
    margin-top: 66px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20.73px;
    letter-spacing: -1px;
    padding: 24px 43px;
    color: #fff;
    background-color: #333333;
    border-style: none;
}

.backhome:hover,
.backhome:focus {
    background-color: #555555;
}

footer {
    margin: 24px 46px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17.07px;
    text-align: center;
    color: #BDBDBD;
    position: relative;
    bottom:0;
    
}

.creator {
    font-weight: 400;
}

.username {
    font-weight: 700;
    text-decoration: underline;
}

@media only screen and (min-width: 576px) {

    main {
        margin: 40px 77px;
        flex-direction: row;
    }

    .main-img {
        margin-right: 40px;
    }

    .badnews-h {
        min-inline-size: 10ch;
        max-inline-size: 15ch;
        font-size: 26px;
        line-height: 40px;
    }

    .badnews-p {
        min-inline-size: 25ch;
        font-size: 14px;
    }
}

@media only screen and (min-width: 768px) {

    .header {
        margin: 40px 77px;
    }

    main {
        margin: 40px 77px;
        flex-direction: row;
    }

    .main-img {
        width: 400px;
        height: auto;
        margin-right: 60px;
    }

    .badnews-h {
        min-inline-size: 10ch;
        max-inline-size: 15ch;
        font-size: 30px;
        line-height: 40px;
    }

    .badnews-p {
        max-inline-size: 25ch;
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    .header {
        margin: 40px 77px;
    }

    main {
        margin: 40px 77px;
        flex-direction: row;
    }

    .main-img {
        width: 539.22px;
        height: 447.43px;
        margin-right: 118px;
    }

    .badnews-h {
        max-inline-size: 15ch;
    }

    .badnews-p {
        max-inline-size: 25ch;
    }
}